<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Libraro</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="icon" type="image/x-icon" href="~/img/favicon.ico">

    <style>
        .carousel-indicators {
            position: relative !important;
            margin-top: 50px !important;
            bottom: 0 !important;
        }

        .carousel-indicators li {
            background-color: #ddd !important;
            opacity: 1;
            border-radius: 50%;
            width: 12px;
            height: 12px;
        }

        .carousel-indicators .active {
            background-color: #ff8c00 !important;
        }

        footer {
            clear: both;
            background: white;
            position: relative;
            z-index: 10;
        }

        .scroll-buttons button {
            width: 45px;
            height: 45px;
            opacity: 0.8;
            transition: 0.3s;
        }

        .scroll-buttons button:hover {
            opacity: 1;
            transform: scale(1.1);
        }
    </style>

</head>

<body>
    <header class="bg-white border-bottom shadow-sm">
        <div class="container">
            <div class="row align-items-center py-3">
                <div class="col-md-3">
                    <a href="/Home/Index">
                        <img src="~/img/libraro.png" alt="Libraro Logo" style="height: 55px; width: auto;">
                    </a>
                </div>

                <div class="col-md-6">
                    <form asp-action="Index" method="get" class="m-0">
                        <div class="input-group">
                            <input type="text" name="searchString" class="form-control rounded-pill border-secondary"
                                placeholder="Aradığınız ürünün adını yazınız...">
                            <div class="input-group-append">
                                <button class="btn btn-link text-secondary" type="submit"
                                    style="margin-left: -45px; z-index: 10;">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-md-3 d-flex justify-content-end align-items-center">
                    @if (Libraro.Controllers.AccountController.AktifKullanici != null)
                    {
                        <span class="text-dark me-2">Merhaba,
                            <strong>@Libraro.Controllers.AccountController.AktifKullanici</strong></span>
                        @:&nbsp;&nbsp;
                        <a asp-controller="Account" asp-action="Logout" class="btn btn-sm btn-outline-danger ms-2">Çıkış</a>
                        @:&nbsp;&nbsp;
                    }
                    else
                    {
                        <a asp-controller="Account" asp-action="Login" class="text-dark mx-2"
                        style="text-decoration:none;">Giriş Yap</a>
                        <a asp-controller="Account" asp-action="Register" class="btn btn-sm text-white px-3"
                        style="background-color: #b22222; border-radius: 20px;">Kayıt Ol</a>
                    }
                    <a class="nav-link text-dark ms-3" asp-controller="Home" asp-action="Favorilerim">
                        <i class="fa-regular fa-heart fa-lg"></i>
                    </a>

                    <div class="position-relative ms-3">
                        <a href="/Sepet" class="text-dark">
                            <i class="fas fa-shopping-cart fa-lg"></i>
                            <span class="badge badge-danger position-absolute"
                                style="top:-12px; right:-12px; border-radius:50%; background-color: #b22222;">
                                @Libraro.Controllers.SepetController._sepet.Count
                            </span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="row pb-2">
                <div class="col-md-6 offset-md-3">
                    <nav class="navbar navbar-expand navbar-light p-0">
                        <ul class="navbar-nav w-100 d-flex justify-content-center font-weight-bold"
                            style="font-size: 12px;">
                            <li class="nav-item border-right px-4">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Kategori"
                                    asp-route-id="Edebiyat">EDEBİYAT KİTAPLARI</a>
                            </li>
                            <li class="nav-item border-right px-4">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Kategori"
                                    asp-route-id="Tarih">TARİH KİTAPLARI</a>
                            </li>
                            <li class="nav-item border-right px-4">
                                <a class="nav-link text-dark" asp-controller="Home" asp-action="Kategori"
                                    asp-route-id="Cocuk">ÇOCUK KİTAPLARI</a>
                            </li>
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                    data-toggle="dropdown" aria-expanded="false">
                                    PUZZLE
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Kategori"
                                        asp-route-id="Puzzle">Tümü</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Kategori"
                                        asp-route-id="500">500 Parça</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Kategori"
                                        asp-route-id="1000">1000 Parça</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Kategori"
                                        asp-route-id="2000">2000 Parça</a>
                                    <a class="dropdown-item" asp-controller="Home" asp-action="Kategori"
                                        asp-route-id="3000">3000 Parça</a>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>




    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="scroll-buttons"
        style="position: fixed; bottom: 20px; right: 20px; z-index: 99; display: flex; flex-direction: column; gap: 10px;">
        <button onclick="scrollToTop()" id="btnTop" class="btn btn-danger rounded-circle shadow" title="En Üste Çık">
            <i class="fas fa-arrow-up"></i>
        </button>
        <button onclick="scrollToBottom()" id="btnBottom" class="btn btn-dark rounded-circle shadow" title="En Alta İn">
            <i class="fas fa-arrow-down"></i>
        </button>
    </div>

    <footer class="border-top footer text-muted">

        <div class="container mt-5">
            <div class="row">

                <div class="col-md-3 mb-4">
                    <h6 class="font-weight-bold mb-4">KATEGORİLER</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2">
                            <a asp-controller="Home" asp-action="Kategori" asp-route-id="Edebiyat"
                                class="text-dark text-decoration-none">Edebiyat Kitapları</a>
                        </li>
                        <li class="mb-2">
                            <a asp-controller="Home" asp-action="Kategori" asp-route-id="Tarih"
                                class="text-dark text-decoration-none">Tarih Kitapları</a>
                        </li>
                        <li class="mb-2">
                            <a asp-controller="Home" asp-action="Kategori" asp-route-id="Cocuk"
                                class="text-dark text-decoration-none">Çocuk Kitapları</a>
                        </li>
                        <li class="mb-2">
                            <a asp-controller="Home" asp-action="Kategori" asp-route-id="Puzzle"
                                class="text-dark text-decoration-none">Puzzle</a>
                        </li>
                    </ul>


                </div>


                <div class="col-md-3 mb-4">
                    <h6 class="font-weight-bold mb-4">ÜYE İŞLEMLERİ</h6>
                    <ul class="list-unstyled">
                        <li class="mb-2"><a asp-controller="Account" asp-action="Login"
                                class="text-dark text-decoration-none">Giriş
                                Yap</a></li>
                        <li class="mb-2"><a asp-controller="Account" asp-action="Register"
                                class="text-dark text-decoration-none">Kayıt
                                Ol</a></li>
                        <li class="mb-2"> <a asp-controller="Home" asp-action="Favorilerim" 
                                class="text-dark text-decoration-none">Favorilerim
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-3 mb-4">
                    <h6 class="font-weight-bold mb-4">HIZLI ERİŞİM</h6>
                    <ul class="list-unstyled">
                        <li class="nav-item">
                            <a href="/Home/Iletisim" class="text-dark" style="text-decoration: none;">İletişim</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Yayinevleri" class="text-dark" style="text-decoration: none;">Yayınevleri</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Hakkimizda" class="text-dark" style="text-decoration: none;">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a href="/Home/Satis" class="text-dark" style="text-decoration: none;">Satış Sözleşmesi</a>
                        </li>



                    </ul>
                </div>

                <div class="col-md-3 mb-4 text-center">
                    <h6 class="font-weight-bold mb-4">BİZİ TAKİP EDİN</h6>
                    <div class="social-icons h3">
                        <a href="https://www.instagram.com/?hl=tr" class="text-dark mr-2"><i
                                class="fab fa-instagram"></i></a>
                        <a href="https://x.com/home?lang=tr" class="text-dark mr-2"><i class="fab fa-x-twitter"></i></a>
                        <a href="https://www.facebook.com/login/?next=https%3A%2F%2Fwww.facebook.com%2F%3Flocale%3Dtr_TR"
                            class="text-dark mr-2"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://www.youtube.com/" class="text-dark"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
            </div>


        </div>


    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        function scrollToTop() {
            window.scrollTo({ top: 0, behavior: 'smooth' });
        }

        function scrollToBottom() {
            window.scrollTo({ top: document.body.scrollHeight, behavior: 'smooth' });
        }
    </script>
</body>

</html>
