<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-9 shadow-sm p-5 bg-white" style="border-radius: 20px; line-height: 1.8;">
            <h2 class="text-center mb-5 font-weight-bold">Hakkımızda</h2>

            <section class="mb-4">
                <h5 class="font-weight-bold">HAKKIMIZDA</h5>
                <p class="text-muted">
                    Bizimki kitaba olan tutkulu bir yolculuk, bizimki 40 yıl önce başlayan okuma ve okurlara en güzel
                    kitapları ulaştırma heyecanı, bizimki her ulaştırdığımız kitapta bir aydınlanma yolculuğuna sebep
                    olma mutluluğu! Kitaplar bize 40 yıldır mutluluk verdi, biz de mutluluğumuzu daha çok kitapseverle
                    paylaşmak için yeni kitabevleri açtık, Avrupa'nın en büyük kitabevinde milyonlarca kitapseveri
                    ağırladık. Sonrasında da 2015 yılından itibaren web sitemiz üzerinden ülkemizin her köşesindeki
                    kitapseverlere kitap göndermeye başladık. Bugüne dek on milyonlarca kitabı milyonlarca kitapsevere
                    ulaştırmanın mutluluğunu yaşıyor, LİBRARO ailesi olarak sizlere daha iyi hizmet verebilmek için her
                    gün samimiyetle çalışıyoruz. Keyifli okumalar dileriz.
                </p>
            </section>

            <section class="mb-4">
                <h5 class="font-weight-bold">VİZYON</h5>
                <p class="text-muted">
                    Kitapları ekonomik ve hızlı bir şekilde sunan, kaliteli müşteri hizmetleri ile kitapseverleri mutlu
                    eden, ülkemizin aydınlanmasına katkı yapan, sektörün lider markası olmak.
                </p>
            </section>

            <section class="mb-4">
                <h5 class="font-weight-bold">MİSYON</h5>
                <p class="text-muted">
                    Kitapları ekonomik fiyatla, hızlı gönderiyle ve kaliteli müşteri iletişimiyle sunarak yediden
                    yetmişe tüm kitapseverleri mutlu etmek, kitap okumanın yaygınlaşmasına öncülük ederek ülkemizin
                    kültürel gelişimine destek vermek.
                </p>
            </section>


            <section class="mb-4">
                <h5 class="font-weight-bold">HİZMET SUNUMU</h5>
                <p class="text-muted">
                    Operasyonel olarak mükemmel bir hizmet sunmaya azami çaba gösteririz.
                    Verimliliği esas alırız, verimli olmayan tüm süreçleri elimine ederiz.
                    Sonuç odaklı çalışma tarzını benimser, işlerimizi bu ilkeye göre planlarız.
                    Doğru sonuçlara ulaşmak için yalınlık ilkesine inanırız.
                    Yenilikçilik gelişimimizin ana kaynağıdır.
                    Ekip çalışmasına önem veririz, kendini ve ekibini sürekli geliştiren çalışanlarımızla yarınlara
                    ilerleriz.
                    Sektörümüze öncülük ederek kitapların yaygın okunmasını hedefleriz.
                </p>
            </section>




        </div>
    </div>
</div>