<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-9 shadow-sm p-5 bg-white" style="border-radius: 20px; line-height: 1.8;">
            <h2 class="text-center mb-5 font-weight-bold">Satış Sözleşmesi</h2>

            <section class="mb-4">
                <h5 class="font-weight-bold">1.KONU</h5>
                <p class="text-muted">
                    İşbu Satış Sözleşmesi Ön Bilgi Formu’nun konusu, SATICI' nın, SİPARİŞ VEREN/ALICI' ya satışını
                    yaptığı, aşağıda nitelikleri ve satış fiyatı belirtilen ürün/ürünlerin satışı ve teslimi ile ilgili
                    olarak 6502 sayılı Tüketicilerin Korunması Hakkındaki Kanun - Mesafeli Sözleşmeler Yönetmeliği
                    (RG:27.11.2014/29188) hükümleri gereğince tarafların hak ve yükümlülüklerini kapsamaktadır. İş bu ön
                    bilgilendirme formunu kabul etmekle ALICI, sözleşme konusu siparişi onayladığı takdirde sipariş
                    konusu bedeli ve varsa kargo ücreti, vergi gibi belirtilen ek ücretleri ödeme yükümlülüğü altına
                    gireceğini ve bu konuda bilgilendirildiğini peşinen kabul eder.
                </p>
            </section>

            <section class="mb-4">
                <h5 class="font-weight-bold">2. SATICI BİLGİLERİ</h5>
                <p class="text-muted">
                    Ünvanı : Point İnternet Teknolojileri ve Lojistik A.Ş.<br>
                    Adresi : Cumhuriyet Mah. İstiklal Cad. 1923 Sokak No: 23 Üsküdar/İstanbul<br>
                    Telefon: 0850 255 0 256<br>
                    Eposta : info@libraro.com<br>
                    Mersis : 0563065000000000<br>
                </p>
            </section>

            <section class="mb-4">
                <h5 class="font-weight-bold">3. ALICI BİLGİLERİ (Bundan sonra ALICI olarak anılacaktır.)</h5>
                <p class="text-muted">
                    Adı/Soyadı/Ünvanı :<br>
                    Adresi :<br>
                    Telefon :<br>
                    E-Posta :<br>
                </p>
            </section>


            <section class="mb-4">
                <h5 class="font-weight-bold">4. SÖZLEŞME KONUSU ÜRÜN/ÜRÜNLER BİLGİLERİ</h5>
                <p class="text-muted">
                    4.1 Malın / Ürün/Ürünlerin / Hizmetin temel özellikleri (türü, miktarı, marka/modeli, rengi, adedi)
                    SATICI’ya ait internet sitesinde yer almaktadır. Ürünün temel özelliklerini kampanya süresince
                    inceleyebilirsiniz. Kampanya tarihine kadar geçerlidir.<br>
                    4.2 Listelenen ve sitede ilan edilen fiyatlar satış fiyatıdır. İlan edilen fiyatlar ve vaatler
                    güncelleme yapılana ve değiştirilene kadar geçerlidir. Süreli olarak ilan edilen fiyatlar ise
                    belirtilen süre sonuna kadar geçerlidir.
                </p>
            </section>

            <section class="mb-4">
                <h5 class="font-weight-bold">5. FARURA BİLGİLERİ</h5>
                <p class="text-muted">
                    Ödeme Şekli :<br>
                    Teslimat Adresi :<br>
                    Teslim Edilecek Kişi:<br>
                    Fatura Adresi :<br>
                    Kargo Ücreti :<br>
                    Fatura Teslim : Fatura sipariş gönderiminden sonra; alıcının mail adresine e-fatura olarak olarak
                    gönderilmektedir.
                </p>
            </section>

            <section class="mb-4">
                <h5 class="font-weight-bold">6. CAYMA HAKKI</h5>
                <p class="text-muted">
                    7.1.Cayma hakkının kullanılması için 14 (ondört) günlük süre içinde SATICI' ya iadeli taahhütlü
                    posta, faks veya eposta ile yazılı bildirimde bulunulması ve ürünün işbu sözleşmede düzenlenen
                    düzenlenen "Cayma Hakkı Kullanılamayacak Ürünler" hükümleri çerçevesinde kullanılmamış olması
                    şarttır. Bu hakkın kullanılması halinde,<br>
                    7.1.1 3.kişiye veya ALICI’ ya teslim edilen ürünün faturası, (İade edilmek istenen ürünün faturası
                    kurumsal ise, geri iade ederken kurumun düzenlemiş olduğu iade faturası ile birlikte gönderilmesi
                    gerekmektedir. Faturası kurumlar adına düzenlenen sipariş iadeleri İADE FATURASI kesilmediği
                    takdirde tamamlanamayacaktır.)<br>
                    7.1.2. İade formu,<br>
                    7.1.3. İade edilecek ürünlerin kutusu, ambalajı, varsa standart aksesuarları ile birlikte eksiksiz
                    ve hasarsız olarak teslim edilmesi gerekmektedir.<br>
                    7.1.4. SATICI, cayma bildiriminin kendisine ulaşmasından itibaren en geç 10 günlük süre içerisinde
                    toplam bedeli ve ALICI’ yı borç altına sokan belgeleri ALICI’ ya iade etmek ve 20 günlük süre
                    içerisinde malı iade almakla yükümlüdür.<br>
                    7.1.5. ALICI’ nın kusurundan kaynaklanan bir nedenle malın değerinde bir azalma olursa veya iade
                    imkânsızlaşırsa ALICI kusuru oranında SATICI’ nın zararlarını tazmin etmekle yükümlüdür. Ancak cayma
                    hakkı süresi içinde malın veya ürünün usulüne uygun kullanılmasın sebebiyle meydana gelen değişiklik
                    ve bozulmalardan ALICI sorumlu değildir.<br>
                    7.1.6. Cayma hakkının kullanılması nedeniyle SATICI tarafından düzenlenen kampanya limit tutarının
                    altına düşülmesi halinde kampanya kapsamında faydalanılan indirim miktarı iptal edilir.
                </p>
            </section>

            <div class="alert alert-light border-0 text-center small mt-5 italic">
                Son Güncelleme Tarihi: 12 Mayıs 2026
            </div>
        </div>
    </div>
</div>