<div class="container mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-9 shadow-sm p-5 bg-white" style="border-radius: 20px; line-height: 1.8;">
            <h2 class="text-center mb-5 font-weight-bold">Yayınevleri</h2>

            <div class="container my-5 py-5 clearfix">
                <div class="row text-center align-items-center">

                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/isbankasi.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="İş Bankası Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/can.webp" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Can Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/marti.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Martı Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/indigo.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="İndigo Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/yapi.jpeg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Yapı Kredi Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/epsilon.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Epsilon Yayınları">
                    </div>

                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/aile.png" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Aile Yayınları">
                    </div>

                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/alfa.png" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Alfa Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/dokuz.png" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Dokuz Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/iletisim.png" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="İletişim Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/yeditepe.png" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Yeditepe Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/timas.webp" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Timaş Çocuk">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/ithaki.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="İthaki Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/metis.png" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Metis Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/ephesus.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Ephesus Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/altin.png" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Altın Kitapları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/indigo.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="İndigo Kitap">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/artemis.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Artemis Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/kirmizi.png" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Kırmızı Kedi Yayınevi">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/inkilap.png" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="İnkılap Yayınları">
                    </div>

                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/kronik.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Kronik Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/dogan.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Doğan Kitap">
                    </div>

                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/olimpos.webp" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Olimpos Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/destek.jpg" class="img-fluid grayscale-hover" style="max-height: 150px;"
                            alt="Destek Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/domingo.jpg" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Domingo Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/jaguar.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Jaguar Kitap">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/dergah.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Dergah Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/otuken.jpg" class="img-fluid grayscale-hover" style="max-height: 150px;"
                            alt="Ötüken Neşriyat">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/dorlion.jpg" class="img-fluid grayscale-hover"
                            style="max-height: 100px;" alt="Dorlion Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/panama.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Panama Yayncılık">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/athica.jpg" class="img-fluid grayscale-hover" style="max-height: 150px;"
                            alt="Athica">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/taze.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Taze Kitap">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/tudem.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Tudem Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/gun.jpg" class="img-fluid grayscale-hover" style="max-height: 150px;"
                            alt="Gunışığı Kitaplığı">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/nesil.jpg" class="img-fluid grayscale-hover" style="max-height: 150px;"
                            alt="Nesil Yayınları">
                    </div>
                    <div class="col-6 col-md-2 mb-4">
                        <img src="/img/yayinlar/bilge.jpg" class="img-fluid grayscale-hover" style="max-height: 100px;"
                            alt="Bilge Kültür Sanat">
                    </div>













                </div>
            </div>




        </div>
    </div>
</div>